<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <a href="{% url 'test_project:get_form_data' %}">Main</a>
    <a href="{% url 'test_project:load_data' %}">Load all Data</a>

</nav>
{% block content %}
    <form action="{% url 'test_project:get_form_data' %}" method="post">
        {% csrf_token %}
        <div class="input-list">
            <div class="input-element">
                <strong>Name1</strong>
                <input type="text" name="name1">
            </div>
        </div>
        <button type="submit">Save</button>
        <button type="reset">Reset all data</button>
    </form>

    <button id="add_input">Add new input</button>
    <button id="remove_input">Remove last input</button>

{% endblock %}
<script src="{% static 'js/my-js.js' %}"></script>
</body>
</html>